.values-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    height: 25%;
    width: 20%;
    padding: 15px;
    right: 0;
    gap:10px;
    z-index: 1;
}

.values-right {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    border: 1px solid black;
}

.values-right p{
    display: flex;
    text-indent: 5px;
    width: 75%;
    height: 75%;
    margin: 0;
    justify-content: right;
    align-items: center;
}

.values-right img{
    height: 100%;
    width: 20%;
    padding-left: 5%;
}

.values-small-right {
    display: flex;
    height: 15%;
    width: 85%;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
}

.values-small-right p{
    display: flex;
    text-indent: 5px;
    width: 75%;
    height: 75%;
    margin: 0;
    justify-content: right;
    align-items: center;
}

.values-small-right img{
    height: 100%;
    width: 20%;
    padding-left: 5%;
}

.score-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    height: 25%;
    width: 20%;
    padding: 15px;
    left: 0;
    gap:10px;
    z-index: 1;
}

.values-left {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    border: 1px solid black;
}

.values-left p{
    display: flex;
    text-indent: 5px;
    width: 75%;
    height: 75%;
    margin: 0;
    justify-content: left;
    align-items: center;
}

.values-left img{
    height: 100%;
    width: 20%;
    padding-right: 5%;
}